body {
  margin: 0 auto;
    background-color: #f2f2f2;
}

fieldset#one {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

fieldset#two {
  margin: 0 auto;
  width: 70%;
  border-style: dotted;
  font-family: comic sans MS;
}

legend {
  text-align: center;
  border-style: dotted;

}
body{
  font-family: 'Source Code Pro', monospace;
}
input {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    border-radius: 4px;
}

input[type=text], select {
    display: inline-block;
    border: 1px soli #ccc;
    font-family: comic sans MS;
    box-sizing: border-box;
}
input:focus {
    background-color: lightgreen;
}
input[type=submit] {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: lightred;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 15px;
    font-family: comic sans MS;
}
.wrapper {
  width: 50%;
}